.content-container {
  margin-bottom: 15px;
}

.title {
  font-size: 25px;
  line-height: normal;
  text-align: end;
}

.text-important {
  color: rgb(0, 119, 181);
}

.icon {
  border: 1px solid grey;
  height: 30px;
  transition: transform 0.3s;
  width: 30px;
  padding: 10px;
  border-radius: 50%;

  &:hover {
    transform: scale(1.1);
  }
}

.github-icon {
  .svg-icon {
    fill: #a5a5a5;
  }
}

.linkedin-icon {
  .svg-icon {
    fill: #0077b5;
  }
}

.react-icon {
  .svg-icon {
    fill: #61dafb;
  }
}

.angular-icon {
  .svg-icon {
    fill: #dd1100;
  }
}

.node-icon {
  .svg-icon {
    fill: #5fa04e;
  }
}

.nest-icon {
  .svg-icon {
    fill: #e0234e;
  }
}

.mongo-icon {
  .svg-icon {
    fill: #47a248;
  }
}

.postgresql-icon {
  .svg-icon {
    fill: #4169e1;
  }
}

.dotnet-icon {
  .svg-icon {
    fill: #512bd4;
  }
}

.aws-icon {
  .svg-icon {
    fill: #ff9900;
  }
}

.mysql-icon {
  .svg-icon {
    fill: #4479a1;
  }
}

.docker-icon {
  .svg-icon {
    fill: #2496ed;
  }
}

.rxjs-icon {
  .svg-icon {
    fill: #b7178c;
  }
}

.graphql-icon {
  .svg-icon {
    fill: #e10098;
  }
}

.jenkins-icon {
  .svg-icon {
    fill: #d24939;
  }
}

.jest-icon {
  .svg-icon {
    fill: #c21325;
  }
}

.technologies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 2rem 0rem;
}
