<div class="content-container">
  <div class="title"><span class="text-important">Principal stack</span></div>
  <div>
    <span class="text-important">ReactJS:</span> 4 years of experience
    <br />
    <span class="text-important">AngularJS:</span> 2 years of experience
    <br />
    <span class="text-important">NodeJS:</span> 4 years of experience
    <br />
    <span class="text-important">NestJS:</span> 1 years of experience
    <br />
    <span class="text-important">MongoDB:</span> 3 years of experience
    <br />
    <span class="text-important">PostgreSQL:</span> 3 years of experience
  </div>

  <div class="title">
    <span class="text-important">Currently learning</span>
  </div>
  <div>
    <div>.NET/C#</div>
    <div>AWS Developer Associate</div>
    <div>MySQL</div>
    <div>Docker & Containers</div>
    <div>Reactive programming in JS</div>
  </div>

  <div class="title">
    <span class="text-important">I'm familiar with...</span>
  </div>
  <div>
    <div>GraphQL</div>
    <div>Jenkins for CI/CD</div>
    <div>Jest/Enzyme testing</div>
    <div>Algorithmic complexity</div>
  </div>
</div>
