.project-container {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 10px;
  // min-width: 200px;
  // max-width: 200px;
  text-align: center;
}

.name {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 5px;
}

.button {
  background-color: #0077b5;
}
