<div class="global-container">
  <div class="contact-container">
    <div class="contact-info">
      <div class="name">Fernando García</div>
      <div class="title">Web Developer</div>
      <img
        src="../../../assets/profile.jpg"
        class="profile-image"
        alt="Developer Profile Picture"
      />
    </div>
    <div class="links">
      <a
        href="https://github.com/fernandoG494"
        target="_blank"
        class="icon github"
      >
        <svg class="svg-icon" viewBox="0 0 24 24">
          <path
            d="M12 2C6.48 2 2 6.48 2 12c0 4.41 2.87 8.15 6.84 9.48.5.09.66-.22.66-.49v-1.71c-2.78.61-3.37-1.34-3.37-1.34-.46-1.17-1.12-1.48-1.12-1.48-.91-.62.07-.6.07-.6 1 .07 1.52 1.03 1.52 1.03.9 1.54 2.36 1.09 2.94.83.09-.65.35-1.09.63-1.34-2.22-.25-4.56-1.11-4.56-4.95 0-1.09.39-1.98 1.03-2.68-.1-.25-.45-1.28.1-2.66 0 0 .84-.27 2.75 1.02.8-.22 1.66-.33 2.51-.33s1.71.11 2.51.33c1.91-1.29 2.75-1.02 2.75-1.02.55 1.38.2 2.41.1 2.66.64.7 1.03 1.59 1.03 2.68 0 3.85-2.35 4.7-4.58 4.95.36.31.68.92.68 1.86v2.76c0 .27.16.59.67.49C19.13 20.15 22 16.41 22 12c0-5.52-4.48-10-10-10z"
          ></path>
        </svg>
      </a>
      <a
        href="https://linkedin.com/in/fernandoG494"
        target="_blank"
        class="icon linkedin"
      >
        <svg class="svg-icon" viewBox="0 0 24 24">
          <path
            d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.75c-.97 0-1.75-.78-1.75-1.75s.78-1.75 1.75-1.75 1.75.78 1.75 1.75-.78 1.75-1.75 1.75zm13.5 12.75h-3v-5.5c0-1.34-.03-3.06-1.86-3.06-1.86 0-2.14 1.45-2.14 2.95v5.61h-3v-11h2.89v1.5h.04c.4-.75 1.39-1.54 2.86-1.54 3.06 0 3.63 2.01 3.63 4.63v6.41z"
          ></path>
        </svg>
      </a>
    </div>
    <div class="place">Aguascalientes, México</div>
    <div class="button-container">
      <button (click)="handleContactButton()">Contact Me</button>
    </div>
  </div>

  <div class="content-container">
    <router-outlet></router-outlet>
    <div class="navigation-bar-container">
      <a
        href="/dashboard"
        class="icon-link"
        matTooltip="Home"
        matTooltipPosition="above"
      >
        <mat-icon fontIcon="home"></mat-icon>
      </a>
      <a
        href="/about"
        class="icon-link"
        matTooltip="About"
        matTooltipPosition="above"
      >
        <mat-icon fontIcon="person"></mat-icon>
      </a>
      <a
        href="/resume"
        class="icon-link"
        matTooltip="Resume"
        matTooltipPosition="above"
      >
        <mat-icon fontIcon="insert_drive_file"></mat-icon>
      </a>
      <a
        href="/stack"
        class="icon-link"
        matTooltip="Stack"
        matTooltipPosition="above"
      >
        <mat-icon fontIcon="construction"></mat-icon>
      </a>
      <a
        href="/projects"
        class="icon-link"
        matTooltip="Projects"
        matTooltipPosition="above"
      >
        <mat-icon fontIcon="workspaces"></mat-icon>
      </a>
    </div>
  </div>
</div>
