.global-container {
  display: flex;
  font-size: 16px;
  padding: 10px;
}

.contact-container {
  background-color: blueviolet;
  border-radius: 10px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: max-content;
  padding: 10px;

  .contact-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .name {
    font-weight: bold;
  }

  .title {
    color: #666;
  }

  .profile-image {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
  }

  .links {
    align-self: center;
    display: flex;
    gap: 15px;

    .icon {
      height: 30px;
      transition: transform 0.3s;
      width: 30px;

      &:hover {
        transform: scale(1.1);
      }

      .svg-icon {
        fill: currentColor;
        height: 100%;
        width: 100%;
      }

      &.github {
        color: #333;
      }

      &.linkedin {
        color: #0077b5;
      }
    }
  }

  .place {
    align-self: center;
    color: #666;
  }

  .button-container {
    align-self: center;
    margin-top: 10px;

    button {
      background-color: #0077b5;
      border-radius: 5px;
      border: none;
      color: white;
      cursor: pointer;
      padding: 10px 20px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #005983;
      }
    }
  }
}

.content-container {
  background-color: red;
  border-radius: 10px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-left: 10px;
  padding: 20px;
  width: 100%;
  height: 500px;

  .navigation-bar-container {
    align-items: center;
    border-radius: 10px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
}

.icon-link {
  color: grey;
}
