.content-container {
  margin-bottom: 15px;
  min-height: 500px;
}

.quote {
  font-size: 30px;
  line-height: normal;
  text-align: end;
}

.quoter {
  font-size: 20px;
  text-align: end;
  margin-bottom: 10px;
  font-style: italic;
  color: grey;
}

.text-important {
  color: rgb(0, 119, 181);
}
