<div class="content-container">
  <div class="quote">
    "You might not think that programmers are
    <span class="text-important">artists</span>, but programming is an extremely
    creative profession. It’s logic-based
    <span class="text-important">creativity</span>."
  </div>
  <div class="quoter">– John Romero</div>

  <div>
    With four years of experience in the tech industry, I've had the opportunity
    to <span class="text-important">collaborate</span> with both small teams and
    large corporations, taking on roles as a
    <span class="text-important">Software developer</span> and
    <span class="text-important">Tester.</span>
  </div>

  <div>
    My journey has led me to specialize in various aspects of web development,
    including <span class="text-important">Security Analysis</span> and
    implementing <span class="text-important">Cutting-edge Web Solutions</span>.
  </div>

  <div>
    My role involves <span class="text-important">developing</span> secure
    coding for components and web content, reviewing
    <span class="text-important">vulnerabilities</span>, and ensuring the
    robustness of web applications.
  </div>
</div>
