<div class="content-container">
  <div class="title"><span class="text-important">Education</span></div>
  <div>
    <span class="text-important">Computer systems engineer</span> at Unidad
    Profesional Interdisciplinaria de Ingenierías de Zacatecas (UPIIZ - IPN).
    June 2022.

    <br />
    <span class="text-important">Tesis/Final work:</span>
    Simulation of biological entities with the help of intelligent agents in the
    Unity game engine.

    <br />
    <span class="text-important">Research field:</span> Artificial Intelligence
  </div>

  <div class="title">
    <span class="text-important">Professional Experience</span>
  </div>
  <div>
    <div>
      <span class="text-important">Software Engineer</span> at Softtek Inc.
      Aguascalientes, México.
      <br />
      September 2022 – June 2024
    </div>
    <div>
      <span class="text-important">Junior Software Engineer</span> at EPAM
      Systems. Mérida, México.
      <br />
      May 2022 – August 2022
    </div>
    <div>
      <span class="text-important">Software Engineer</span> at Encora Inc.
      Zacatecas, México.
      <br />
      June 2021 – November 2021
    </div>
    <div>
      <span class="text-important">Graduate Engineer</span> at Comatech
      (Appfire). Zacatecas, México.
      <br />
      November 2020 – May 2021
    </div>
  </div>

  <div class="title">
    <span class="text-important">Other Experience</span>
  </div>
  <div>
    <div>
      <span class="text-important">Ethical hacker</span> at COZCyT/Labsol.
      Zacatecas, México.
      <br />
      September 2019.
    </div>
  </div>
</div>
