<div class="content-container">
  <div class="quote">
    Hello there, I'm <span class="text-important">Fernando García</span>, and
    I'm a <span class="text-important">Web developer</span> and
    <span class="text-important">Software engineer</span>.
  </div>

  <div>
    Coding is part of my daily activities. I enjoy to investigate and research
    new technologies, also continue improving my tech stack.
  </div>

  <div>
    I hold a degree on
    <span class="text-important">Computer Systems Engineer</span> from
    <span class="text-important">UPIIZ-IPN</span>, with strong focus on
    <span class="text-important">Machine Learning</span> and
    <span class="text-important">Genetic algorithms</span>.
  </div>

  <div>
    Are you interested? Take a look to
    <span class="text-important">stack</span> section to know more!
  </div>
</div>
